<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products for {{ tradeshow }}</title>
</head>
<body>
    <h1>Products for {{ tradeshow }}</h1>

    {% if products %}
        <ul>
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No products for {{ tradeshow }}.</p>
    {% endif %}
</body>
</html>
