<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tradeshows</title>
</head>
<body>
    <h1>Tradeshows</h1>

    {% if tradeshows %}
        <p>Click a tradeshow to view its products.</p>
        <ul>
        {% for ts in tradeshows %}
            <li><a href="{% url 'products_by_tradeshow' ts.id %}">{{ ts }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tradeshows.</p>
    {% endif %}
</body>
</html>
